epoch_050/
.cache/
.conda/
.config/
.copilot/
.dotnet/
.ipython/
.jupyter/
.local/
.nv/
.ssh/
.vscode-server/
autodl-pub/
autodl-tmp/.autodl
autodl-tmp/finetune_models-zh
autodl-tmp/finetune_models-zh-16
autodl-tmp/finetune_models-zh-16x
autodl-tmp/finetune_models-zh-gts-3gpu
autodl-tmp/finetune_models-zh-v2
bin/
miniconda3/
MWP-BERT_en/
MWP-BERT_zh_hf/
mwp-bert2bert-tree-main/
tf-logs/
.codex/
